<p class="pre-date">A noter dans votre agenda, le prochain DevFest Perros-Guirec aura lieu le</p>
<h2 class="section-title" style="text-align: center">{{ .date }}</h2>

<a style="font-size: 24px; line-height: initial" target="_blank" href="https://www.google.fr/maps/place/Palais+des+Congr%C3%A8s/@48.8151101,-3.4564361,17z/data=!3m1!4b1!4m5!3m4!1s0x48122d8b4fecb533:0xfcfd68c452f10053!8m2!3d48.8149596!4d-3.4542285">
    <div style="text-align: center">
            Palais des Congrès <BR> 1 Rue du Maréchal Foch <BR> 22700 Perros-Guirec
    </div>
</a>

<h2 class="section-title" style="margin-top: 30px">{{ .titles.about }}</h2>

<p itemprop="description">
    Code d’armor est heureux de vous proposer un nouveau DevFest sur la côte de granit rose !
    <ul class="simple-list" style="font-weight: bold">
        <li class="simple-item">
            1 track
        </li>
        <li class="simple-item">
            7 talks
        </li>
    </ul>
</p>

<p itemprop="description">
    Depuis maintenant plus de 11 ans, Code d'Armor organise des conférences techniques. En 2021 nous avons décidé d'organiser un DevFest à Perros Guirec, et vu le succès : 120 participants la première année, et plus de 200 la deuxième, nous sommes ravis de préparer la 3ème édition. 
    Après la cyber-sécurité, et l'éco-conception, <strong>l'IA sera à l'honneur cette année.</strong>
</p>
<p itemprop="description">
    Profitez d'une belle journée de conférences avec un concentré d'IA dans l’intimité du palais des congrès de Perros-Guirec, face à la plage de Trestraou pour profiter de la vue mer.
</p>

<div>
    <img src="img/perros-salle.jpeg" style="width: 100%">
</div>
