<h2 class="section-title">DevFest Perros-Guirec</h2>

<a target="_blank" href="https://www.google.fr/maps/place/Palais+des+Congr%C3%A8s/@48.8151101,-3.4564361,17z/data=!3m1!4b1!4m5!3m4!1s0x48122d8b4fecb533:0xfcfd68c452f10053!8m2!3d48.8149596!4d-3.4542285">Palais des Congrès - 1 Rue du Maréchal Foch Perros-Guirec, 22700</a>

<h2 class="section-title">24 septembre 2021</h2>

<h2 class="section-title">{{ .titles.about }}</h2>

<p itemprop="description">
    Depuis maintenant plus de 11 ans, Code d'Armor organise des conférences techniques. En 2019 et 2020 nous avons participé à l'organisation du DevFest du bout du monde. Mais cette année nous avons décidé d'organiser un DevFest à Perros Guirec. Cette édition "single track" aura lieu au palais des congrès sur la plage de Trestraou.
<BR/>
    Un DevFest est une conférence technique destinée aux développeurs. Elle s'adresse aux étudiants et professionnels passionnés de technologies. Toutes les conférences seront sur le thème de la cybersécurité. Depuis plusieurs années on a vu le nombre de cyberattaques augmenter, il est donc important de sensibiliser les développeurs sur ces risques.
<BR/>
    Venez profiter d'une belle journée de conférences en profitant de la vue mer. Nous proposons aussi de profiter d'activités nautiques comme le kayak ou le paddle en fin de journée.
</p>
