<h2 class="section-title" style="text-align: center">24 septembre 2021</h2>

<a style="font-size: 24px; line-height: initial" target="_blank" href="https://www.google.fr/maps/place/Palais+des+Congr%C3%A8s/@48.8151101,-3.4564361,17z/data=!3m1!4b1!4m5!3m4!1s0x48122d8b4fecb533:0xfcfd68c452f10053!8m2!3d48.8149596!4d-3.4542285">
    <div style="text-align: center">
            Palais des Congrès <BR> 1 Rue du Maréchal Foch <BR> 22700 Perros-Guirec
    </div>
</a>

<h2 class="section-title" style="margin-top: 30px">{{ .titles.about }}</h2>

<p itemprop="description">
    Code d’armor est heureux de vous proposer un DevFest sur la côte de granit rose !
    <ul class="simple-list">
        <li class="simple-item">
            1 track
        </li>
        <li class="simple-item">
            6 talks
        </li>
        <li class="simple-item">
            150 participants
        </li>
    </ul>
</p>
<p itemprop="description">
    pour un concentré de cybersécurité dans l’intimité du palais des congrès de Perros-Guirec.
</p>
<p itemprop="description">
    Depuis maintenant plus de 11 ans, Code d'Armor organise des conférences techniques. En 2019 et 2020 nous avons participé à l'organisation du DevFest du bout du monde. Mais cette année nous avons décidé d'organiser un DevFest à Perros Guirec. Cette édition "single track" aura lieu au palais des congrès sur la plage de Trestraou.
</p>
<p itemprop="description">
    Un DevFest est une conférence technique destinée aux développeurs. Elle s'adresse aux étudiants et professionnels passionnés de technologies. Toutes les conférences seront sur le thème de la cybersécurité. Depuis plusieurs années on a vu le nombre de cyberattaques augmenter, il est donc important de sensibiliser les développeurs sur ces risques.
    <BR/>
    Venez profiter d'une belle journée de conférences en profitant de la vue mer. Nous proposons aussi de profiter d'activités nautiques comme le kayak ou le paddle en fin de journée.
</p>

<div>
    <img src="img/perros-salle.jpeg" style="width: 100%">
</div>
