<div class="thankyou">
    <p class="thankyoumsg">Merci à toutes et à tous 🙏, <br>et à l'année prochaine ! 👋</p>
    <div class="aftermovie">
        <iframe width="800" height="500"
            src="https://www.youtube.com/embed/8WLXD1TigUE?si=IJHkmjGJel5k8hby&amp;controls=0"
            title="Aftermovie DevFest Perros Guirec 2023" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>
    </div>
</div>