---

---
<!DOCTYPE html>
<html lang="fr">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="robots" content="noindex">
  <!--  Essential META Tags -->
  <meta property="og:title" content="{{page.title}}">
  <meta property="og:description" content="{{page.Detail.what.title}}">
  <meta property="og:type" content="website" />
  <meta property="og:image" content="{{site.url}}{{site.baseurl}}{{page.thumbnail_url}}">
  <meta property="og:url" content="{{seite.url}}{{site.baseurl}}{{ page.url}}">
  <meta name="twitter:card" content="summary_large_image">

  <!--  Non-Essential, But Recommended -->
  <meta property="og:description" content="{{page.Details.shortDescription}}">
  <meta property="og:site_name" content="{{page.title}}">
  <meta name="twitter:image:alt" content="{{page.title}}">

  <title>{{ page.title}}</title>

  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">


  <!-- Bootstrap CSS -->
  <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">
  <!-- Icon -->
  <link rel="stylesheet" type="text/css" href="assets/fonts/line-icons.css">
  <!-- Slicknav -->
  <link rel="stylesheet" type="text/css" href="assets/css/slicknav.css">
  <!-- Nivo Lightbox -->
  <link rel="stylesheet" type="text/css" href="assets/css/nivo-lightbox.css">
  <!-- Animate -->
  <link rel="stylesheet" type="text/css" href="assets/css/animate.css">
  <!-- Main Style -->
  <link rel="stylesheet" type="text/css" href="assets/css/main.css">
  <!-- Responsive Style -->
  <link rel="stylesheet" type="text/css" href="assets/css/responsive.css">

</head>

<body>

  <!-- Header Area wrapper Starts -->
  <header id="header-wrap">
    <!-- Navbar Start -->
    <nav class="navbar navbar-expand-lg fixed-top scrolling-navbar">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">

          <a href="{{ site.url }}{{ site.baseurl }}" class="navbar-brand"><img class="logo_dark"
              src="{{ site.url }}{{ site.baseurl }}/assets/img/logo_dark.png" alt="logo DevFestNoz"><img
              class="logo_light" src="{{ site.url }}{{ site.baseurl }}/assets/img/logo_dark.png"
              alt="logo DevFestNoz"></a>

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-navbar"
            aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse" id="main-navbar">
          <ul class="navbar-nav mr-auto w-100 justify-content-end">

            {% for menu_item in page.Sections %}

              {% assign active_class = nil %}
              {% if page.url == menu_item.url %}
                {% assign active_class = 'active' %}
              {% elsif menu_item.url == '/#' and page.url=='/'%}
                {% assign active_class = 'active' %}
              {% elsif menu_item.url != '/' and page.url contains menu_item.url %}
                {% assign active_class = 'active' %}
              {% endif %}

              <li class="nav-item {{ active_class }}">
                <a class="nav-link" href="{{site.url}}{{site.baseurl}}{{menu_item.url}}">
                  {{menu_item.title}}
                </a>
              </li>
            {% endfor %}

          </ul>
        </div>
      </div>

      <!-- Mobile Menu Start -->
      <ul class="mobile-menu">
        {% for menu_item in page.Sections %}
        <li>
          <a class="page-scrool" href="{{ site.url }}{{site.baseurl}}{{menu_item.url}}">
            {{menu_item.title}}</a>
        </li>
        {% endfor %}
      </ul>
      <!-- Mobile Menu End -->

    </nav>
    <!-- Navbar End -->

    <!-- Main Carousel Section Start -->
    <div id="main-slide" class="carousel slide" data-ride="carousel">

      {% if page.Carrousel_Slides.size > 1 %}

      <ol class="carousel-indicators">
        {% assign active_class = 'active' %}

        {% for slide in page.Carrousel_Slides %}

        <li data-target="#main-slide" data-slide-to="{% increment slide_count %}" class="{{ active_class }}"></li>


        {% if active_class == 'active' %}
        {% assign active_class = '' %}
        {% endif %}

        {% endfor %}
      </ol>
      {% endif %}

      <div class="carousel-inner">
        {% assign active_class = 'active' %}
        {% for slide in page.Carrousel_Slides %}

        <div class="carousel-item {{ active_class }}">
          <img class="d-block w-100" src="{{ site.baseurl }}{{ slide.image.url }}" alt="{{ slide.image.alt }}">
          <div class="carousel-caption d-md-block">
            <img class="wow fadeIn" data-wow-delay=".3s" href="{{ slide.logo }}" />
            <h1 class="wow fadeInDown heading" data-wow-delay=".4s">{{ slide.title }}</h1>
            <p class="fadeInUp wow" data-wow-delay=".6s">{{ slide.subtitle }}</p>
            <p class="fadeInUp wow" data-wow-delay=".6s">{{ slide.subtitle2 }}</p>
            {% if slide.button1 %}
            {% assign button_type = 'border' %}
            {% if slide.button1.isPrimary %}
            {% assign button_type = 'common'%}
            {% endif %}
            <a href="{{ slide.button1.url }}" class="fadeInLeft wow btn btn-{{ button_type }} btn-lg"
              data-wow-delay=".6s">{{ slide.button1.text }}</a>
            {% endif %}

            {% if slide.button2 %}
            {% assign button_type = 'border' %}
            {% if slide.button2.isPrimary %}
            {% assign button_type = 'common'%}
            {% endif %}
            <a href="{{ slide.button2.url }}" class="fadeInRight wow btn btn-{{ button_type }} btn-lg"
              data-wow-delay=".6s">{{ slide.button2.text }}</a>
            {% endif %}
          </div>
        </div>

        {% if active_class == 'active' %}
        {% assign active_class = '' %}
        {% endif %}

        {% endfor %}

        {% if page.Carrousel_Slides.size > 1 %}
        <a class="carousel-control-prev" href="#main-slide" role="button" data-slide="prev">
          <span class="carousel-control" aria-hidden="true"><i class="lni-chevron-left"></i></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#main-slide" role="button" data-slide="next">
          <span class="carousel-control" aria-hidden="true"><i class="lni-chevron-right"></i></span>
          <span class="sr-only">Next</span>
        </a>
        {% endif %}
      </div>
      <!-- Main Carousel Section End -->

  </header>
  <!-- Header Area wrapper End -->

  <!-- Section Program Start -->
  <section id="program" class="section-padding">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="section-title-header text-center">
            <h2 class="section-title wow fadeInUp" data-wow-delay="0.2s">{{ page.Details.what.title}}</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-2 d-none-lg">

        </div>
        <div class="col-lg-8 col-12 text-lg-left text-center">
          <p>{{ page.Details.what.description }}</p>
        </div>
        <div class="col-2 d-none-lg">

        </div>
      </div>
    </div>
  </section>
  <section id="speaker" class="section-padding">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="section-title-header text-center">
            <h2 class="section-title wow fadeInUp" data-wow-delay="0.2s">Conférencier</h2>
          </div>
        </div>
      </div>
      {% for speaker in page.Speakers %}
      <div class="row">
        <div class="col-2 d-none-lg">

        </div>
        <div class="col-lg-4 col-12">
          <img class="img-fluid mx-auto d-block" src="{{ site.baseurl }}{{ speaker.picture }}" alt="{{ speaker.name}}">
        </div>
        <div class="col-lg-4 col-12 text-lg-left text-center">
          <h3>{{ speaker.name }}</h3>
          <p>{{ speaker.bio }}</p>
        </div>
        <div class="col-2 d-none-lg">

        </div>
      </div>
      {% endfor %}
    </div>
  </section>
  <!-- Program Section End -->

  <!-- Counter Area Start-->
  <section class="counter-section section-padding">
    <div class="container">
      <div class="row">
        <!-- Counter Item -->
        <div class="col-md-6 col-lg-3 col-xs-12 work-counter-widget text-center">
          <div class="counter wow fadeInRight" data-wow-delay="0.3s">
            <div class="icon"><i class="lni-map"></i></div>
            <p><a href="{{ page.Details.linkToMap }}">{{ page.Details.where.venue }}</a></p>
            <span>{{ page.Details.where.address }}</span>
            <span>{{ page.Details.where.city }}</span>
          </div>
        </div>
        <!-- Counter Item -->
        <div class="col-md-6 col-lg-3 col-xs-12 work-counter-widget text-center">
          <div class="counter wow fadeInRight" data-wow-delay="0.6s">
            <div class="icon"><i class="lni-timer"></i></div>
            <p>{{ page.Details.when.date }}</p>
            <span>{{ page.Details.when.time }}</span>
          </div>
        </div>
        <!-- Counter Item -->
        <div class="col-md-6 col-lg-3 col-xs-12 work-counter-widget text-center">
          <div class="counter wow fadeInRight" data-wow-delay="0.9s">
            <div class="icon"><i class="lni-users"></i></div>
            <p>{{ page.Details.who.attendees }} </p>
            <span>{{ page.Details.who.limit }}</span>
          </div>
        </div>
        <!-- Counter Item -->
        <div class="col-md-6 col-lg-3 col-xs-12 work-counter-widget text-center">
          <div class="counter wow fadeInRight" data-wow-delay="1.2s">
            <div class="icon"><i class="lni-coffee-cup"></i></div>
            <p>{{ page.Details.cocktail.whatOffered}}</p>
            <span>{{ page.Details.cocktail.callToAction}}</span>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Counter Area End-->
  <section id="call-to-action" class="section-padding">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="section-title-header text-center">
            <h2 class="section-title wow fadeInUp" data-wow-delay="0.2s">Inscriptions</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-2 d-none-lg">

        </div>
        <div class="col-lg-8 col-12 text-lg-left text-center">
          {% assign slide = page.Carrousel_Slides[0]%}
          {% if slide.button1 %}
            {% assign button_type = 'border' %}
            {% if slide.button1.isPrimary %}
            {% assign button_type = 'common'%}
            {% endif %}
            <a href="{{ slide.button1.url }}" class="fadeInLeft wow btn btn-{{ button_type }} btn-lg"
              data-wow-delay=".6s">{{ slide.button1.text }}</a>
            {% endif %}

        </div>
        <div class="col-2 d-none-lg">

        </div>
      </div>
    </div>
  </section>
  <!-- Footer Section Start -->
  <footer class="footer-area section-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-lg-3 col-sm-6 col-xs-12 wow fadeInUp short-description" data-wow-delay="0.2s">
          <img src="{{ site.url }}{{ site.baseurl }}/assets/img/logo_light.png" alt="DevFestNoz logo">
          <p>
            {{ page.Details.what.shortDescription }}
          </p>
        </div>
        <div class="col-md-6 col-lg-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-delay="0.4s">

        </div>
        <div class="col-md-6 col-lg-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-delay="0.6s">

        </div>
        <div class="col-md-6 col-lg-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-delay="0.8s">

          <!-- /.widget 
            <div class="widget">
              <h5 class="widget-title">FOLLOW US ON</h5>
              <ul class="footer-social">
                <li><a class="facebook" href="#"><i class="lni-facebook-filled"></i></a></li>
                <li><a class="twitter" href="#"><i class="lni-twitter-filled"></i></a></li>
                <li><a class="linkedin" href="#"><i class="lni-linkedin-filled"></i></a></li>
                <li><a class="google-plus" href="#"><i class="lni-google-plus"></i></a></li>
              </ul>
            </div> -->
        </div>
      </div>
    </div>
  </footer>
  <!-- Footer Section End -->

  <!-- Go to Top Link -->
  <a href="#" class="back-to-top">
    <i class="lni-chevron-up"></i>
  </a>

  <div id="preloader">
    <div class="sk-circle">
      <div class="sk-circle1 sk-child"></div>
      <div class="sk-circle2 sk-child"></div>
      <div class="sk-circle3 sk-child"></div>
      <div class="sk-circle4 sk-child"></div>
      <div class="sk-circle5 sk-child"></div>
      <div class="sk-circle6 sk-child"></div>
      <div class="sk-circle7 sk-child"></div>
      <div class="sk-circle8 sk-child"></div>
      <div class="sk-circle9 sk-child"></div>
      <div class="sk-circle10 sk-child"></div>
      <div class="sk-circle11 sk-child"></div>
      <div class="sk-circle12 sk-child"></div>
    </div>
  </div>

  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="assets/js/jquery-min.js"></script>
  <script src="assets/js/popper.min.js"></script>
  <script src="assets/js/bootstrap.min.js"></script>
  <!--     <script src="assets/js/jquery.countdown.min.js"></script> -->
  <script src="assets/js/jquery.nav.js"></script>
  <script src="assets/js/jquery.easing.min.js"></script>
  <script src="assets/js/wow.js"></script>
  <script src="assets/js/jquery.slicknav.js"></script>
  <script src="assets/js/nivo-lightbox.js"></script>
  <script src="assets/js/main.js"></script>
  <!--    <script src="assets/js/form-validator.min.js"></script>
 --><!--     <script src="assets/js/contact-form-script.min.js"></script> -->
</body>

</html>