---

---

  {% include header.html %}
  {% include carrousel.html %}

  <!-- Section Program Start -->
  <section id="program" class="section-padding">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="section-title-header text-center">
            <h2 class="section-title wow fadeInUp" data-wow-delay="0.2s">{{ page.Details.what.title}}</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-2 d-none-lg">

        </div>
        <div class="col-lg-8 col-1ah2 text-lg-left text-center">
          <p>{{ page.Details.what.description }}</p>
        </div>
        <div class="col-2 d-none-lg">

        </div>
      </div>
    </div>
  </section>
  <section id="speaker" class="section-padding">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="section-title-header text-center">
            <h2 class="section-title wow fadeInUp" data-wow-delay="0.2s">Conférencier</h2>
          </div>
        </div>
      </div>
      {% for speaker in page.Speakers %}
      <div class="row">
        <div class="col-2 d-none-lg">

        </div>
        <div class="col-lg-4 col-12">
          <img class="img-fluid mx-auto d-block" src="{{ site.baseurl }}{{ speaker.picture }}" alt="{{ speaker.name}}">
        </div>
        <div class="col-lg-4 col-12 text-lg-left text-center">
          <h3>{{ speaker.name }}</h3>
          <p>{{ speaker.bio }}</p>
        </div>
        <div class="col-2 d-none-lg">

        </div>
      </div>
      {% endfor %}
    </div>
  </section>
  <!-- Program Section End -->
  
{% include gallery.html %}

  <!-- Counter Area Start-->
  <section class="counter-section section-padding">
    <div class="container">
      <div class="row">
        <!-- Counter Item -->
        <div class="col-md-6 col-lg-3 col-xs-12 work-counter-widget text-center">
          <div class="counter wow fadeInRight" data-wow-delay="0.3s">
            <div class="icon"><i class="lni-map"></i></div>
            <p><a href="{{ page.Details.linkToMap }}">{{ page.Details.where.venue }}</a></p>
            <span>{{ page.Details.where.address }}</span>
            <span>{{ page.Details.where.city }}</span>
          </div>
        </div>
        <!-- Counter Item -->
        <div class="col-md-6 col-lg-3 col-xs-12 work-counter-widget text-center">
          <div class="counter wow fadeInRight" data-wow-delay="0.6s">
            <div class="icon"><i class="lni-timer"></i></div>
            <p>{{ page.Details.when.date }}</p>
            <span>{{ page.Details.when.time }}</span>
          </div>
        </div>
        <!-- Counter Item -->
        <div class="col-md-6 col-lg-3 col-xs-12 work-counter-widget text-center">
          <div class="counter wow fadeInRight" data-wow-delay="0.9s">
            <div class="icon"><i class="lni-users"></i></div>
            <p>{{ page.Details.who.attendees }} </p>
            <span>{{ page.Details.who.limit }}</span>
          </div>
        </div>
        <!-- Counter Item -->
        <div class="col-md-6 col-lg-3 col-xs-12 work-counter-widget text-center">
          <div class="counter wow fadeInRight" data-wow-delay="1.2s">
            <div class="icon"><i class="lni-coffee-cup"></i></div>
            <p>{{ page.Details.cocktail.whatOffered}}</p>
            <span>{{ page.Details.cocktail.callToAction}}</span>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Counter Area End-->
  <section id="call-to-action" class="section-padding">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="section-title-header text-center">
            <h2 class="section-title wow fadeInUp" data-wow-delay="0.2s">Inscriptions</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 text-center">
          {% assign slide = page.Carrousel_Slides[0]%}
          {% if slide.button1 %}
            {% assign button_type = 'border' %}
            {% if slide.button1.isPrimary %}
            {% assign button_type = 'common'%}
            {% endif %}
            <p><a href="{{ slide.button1.url }}" class="fadeInLeft wow btn btn-{{ button_type }} btn-lg"
              data-wow-delay=".6s">{{ slide.button1.text }}</a></p>
            {% endif %}

        </div>
      </div>
    </div>
  </section>
  
{% include footer.html %}